<div class="container">
  <ng-template #view>
    <div class="modal-container">
      <div class="title">
        <h2>How to create component dynamically in Angular ?</h2>
      </div>
      <div class="content">
        <p class="current">
          This is the first method. First method is to use a ViewContainerRef
          with a Template Ref. You create the view contained within the
          TemplateRef, then create the modal component and inject the view.
        </p>
      </div>
      <div class="footer">
        <button (click)="close()">Close</button>
      </div>
    </div>
  </ng-template>

  <button class="template" (click)="openModalTemplate(view)">
    Open modal with TemplateRef
  </button>
  <button (click)="openModalComponent()">Open modal with a component</button>
</div>
